
/*** ESTILOS GENERALES ***/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
}

footer img:hover {
    transform: rotate(5deg)
}

