
/*** ESTILOS GENERALES ***/
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%; height: 100vh;
    min-height: 100vh;
}

header {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

header .logo {
    width:150px;  height:50px;
    margin: 5px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    color: grey;
}

nav ul li a{
    text-decoration: none;
    margin: 20px 0px 0px 20px;
    color: grey;
    font-size: 20px;
}

main { 
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
    justify-content: center;
    background-image: linear-gradient(to top, white, #CCD1D1);
}

aside img{
    width: 200px;
}

main section {
    width: 500px;   height: 350px;
    margin: 40px;
    border: 2px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
}

footer{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
    justify-content: center;
    border-top: 1px solid grey;
    bottom: 0;
}

footer img{
    width: 50px; height: 50px;
    margin: 0px 30px;
    border: none;
}

footer img:hover {
    transform: rotate(30deg)
}

/*** SECCION INDEX***/

.sectionindex {
    width: 750px; height: 450px;
    display: flex;
    align-items: stretch;
    
}

.indeximg {
    width: 100%; height: 100%;
}


/*** SECCION ARTICULOS ***/

.sectionarticulos {
    width: 80%;   height: 300px;
    padding: 10px;
    word-break:break-all;
    overflow: hidden;
}

.tituloarticulos {
    margin: 10px;
    color: #353b41;
}

.imagenarticulos {
    width: 150px; height: 150px;
}

.textoarticulos {
    margin: 10px;
    color: #353b41;
}

section a{
    text-decoration: none;
    color: #353b41;
}

/*** ARTICULOS INDIVIDUALES ***/

.articulosind {
    width: 95%; height: auto;
    display: flex;
    flex-direction: column;
    color: #353b41;
    text-align: center;
    border: none;
}
   
section h2:hover {
    color: white;
}

.articulosindimg {
    width: 80vw;
    border-radius: 30px;
    margin: 20px;
}

/*** SECCION FORMATOS ***/

.formatos {
    width: 300px; height: 60vh;
    padding: 20px;
    text-align: center;
    line-height: 25px;
    overflow: hidden;
    color: #353b41;
}

.tituloformatos {
    width: 95%;
    text-align: center;
    margin-top: 30px; padding: 30px;
    border: #353b41 solid 2px;
    color: #353b41;
}

/*** SECCION TORNEOS ***/

.torneos {
width: 70vw; height: auto;
border: none;
display: flex;
justify-content: center;
}

.torneocontenedores {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 30px; padding: 30px; 
line-height: 25px;
color: #353b41;
border: none;
}

.torneosimg {
    width: 70vw;
}

.torneosimg2 {
    width: 150px;
}

.ultorneos {
    list-style: none;
    padding-top: 15px;
}

/*** SECCION TORNEOS ***/

.contacto {
    background-color: #CCD1D1;
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 7px;
}

.titulocontacto {
    color: #353b41;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 20px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.botton {
    background-color: #7F8C8D;
    padding: 20px;
    color: white;
}

.botton:hover {
    cursor: pointer;
}

/*** MOBILE FIRST ***/
/*** SMARTPHONE ***/
@media (max-width: 480px) {
/*** GRIDS ***/
#grid-index {
    display:grid;
    grid-template-areas: 
    "cabeza"
    "cuerpo"
    "lateral"
    "pie";
    
    grid-template-columns: 100%;
    grid-template-rows: 100px 4fr 1fr 100px;
    }

    header {
        grid-area: cabeza;
        background-color: #353b41
    }
    
    main {
        grid-area: cuerpo;
        background-color: white;
    }
    
    aside {
        grid-area: lateral;
        background-color: gray;
    }
    
    footer {
        grid-area: pie  ;
        background-color: #353b41;
    }

    .formresponsive {
        width: 100%;
        margin: 30px;
    }

}

/*** TABLET ***/
@media (min-width: 481px) and (max-width: 1023px) {
/*** GRIDS ***/
    #grid-index {
        display:grid;
        grid-template-areas: 
        "cabeza"
        "cuerpo"
        "lateral"
        "pie";
        
        grid-template-columns: 100%;
        grid-template-rows: 100px 4fr 1fr 100px;
        }

    header {
    grid-area: cabeza;
    background-color: #353b41
    }

    main {
    grid-area: cuerpo;
    background-color: white;
    }

    aside {
    grid-area: lateral;
    background-color: gray;
    }   

    footer {
    grid-area: pie  ;
    background-color: #353b41
    }

}

/*** DESKTOP ***/
@media (min-width: 1025px) {
/*** GRIDS ***/
#grid-index {
    display:grid;
    grid-template-areas: 
    "cabeza cabeza"
    "cuerpo lateral"
    "pie pie" ;
    
    
    grid-template-columns: auto 200px;
    grid-template-rows: 60px auto 100px;
    }
    
    header {
        grid-area: cabeza;
        background-color: #353b41;
        position: fixed;
        width: 100%;
    }
    
    main {
        grid-area: cuerpo;
        background-color: white;
    }
    
    aside {
        grid-area: lateral;
        background-color: gray;
    }
    
    footer {
        grid-area: pie  ;
        background-color: #353b41
    }

    .navlabel {
        display: none;
    }

    .navinput {
        display: none;
    }

    ul li a:hover {
      color: white;
      transform: translatey(10%)
    }

}

header li{
    color: white;
    text-decoration: none;
    display: flex;
}

